* {
	box-sizing: border-box;
}

body {
	font-size: 18px;
}

main {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;

}

button {
	padding: 10px;
	margin-right: 8px;
	margin-bottom: 8px;
	font-size: 18px;
	text-transform: capitalize;
}

#images {
	position: relative;
}

.imgHolder {
	position: absolute;
	display: inline-block;
}

.imgHolder p {
	margin-bottom: 8px;
}